.carrinho-custom-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    background-color: #d32f2f;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border-color: #d32f2f;
}

.carrinho-custom-btn:hover {
    background-color: #b71c1c;
    text-decoration: none;
}

.carrinho-text {
    text-decoration: none;
    outline: none;
    font-size: 0.95rem;
}

.carrinho-badge {
    position: absolute;
    top: -2px;
    right: -2px;
    background: gold;
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2px 7px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border: 2px solid #d32f2f;
}

.custom-btn:hover {
    background-color: var(--bs-red); 
}
