@implements IDisposable
@inject ICarrinhoCompraService carrinhoCompraService

<button href="CarrinhoCompra" class="carrinho-custom-btn">
    <i class="oi oi-cart"></i>
    <span class="carrinho-text">Carrinho</span>

    @if (carrinhoCompraItemContador > 0)
    {
        <span class="carrinho-badge">@carrinhoCompraItemContador</span>
    }
</button>

@code {

    private int carrinhoCompraItemContador = 0;

    protected override void OnInitialized()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged += CarrinhoCompraChanged;
    }

    protected void CarrinhoCompraChanged(int totalQuantidade)
    {
        carrinhoCompraItemContador = totalQuantidade;
        StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        if (carrinhoCompraService != null)
        {
            carrinhoCompraService.OnCarrinhoCompraChanged -= CarrinhoCompraChanged;
        }
    }
}
