@implements IDisposable
@inject ICarrinhoCompraService carrinhoCompraService

<a href="CarrinhoCompra" class="carrinho-custom-btn">
    <i class="oi oi-cart"></i>&nbsp;Carrinho
    <span class="badge bg-light">@carrinhoCompraItemContador</span>
</a>

@code {

    private int carrinhoCompraItemContador = 0;

    protected override void OnInitialized()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged += CarrinhoCompraChanged;
    }

    protected void CarrinhoCompraChanged(int totalQuantidade)
    {
        carrinhoCompraItemContador = totalQuantidade;
        StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        if (carrinhoCompraService != null)
        {
            carrinhoCompraService.OnCarrinhoCompraChanged -= CarrinhoCompraChanged;
        }
    }
}
