@implements IDisposable
@inject ICarrinhoCompraService carrinhoCompraService

<div class="top-row ps-3 navbar-dark bg-black">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        </button>
    </div>
</div>

<div class="top-row ps-3 navba-dark bg-black" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item">
            <a class="nav-link navbar-brand" href="" >
                <i class="bi bi-trophy-fill"></i>
                &nbsp;Sport Store
            </a>
        </div>

        <hr class="divider" />

        <ProdutosCategoriaNavMenu />

        <div class="nav-item px-3 d-sm-none">
            <NavLink class="nav-link" href="CarrinhoCompra">
                <span class="oi oi-cart" aria-hidden="true"></span>&nbsp;Carrinho(<b>@carrinhoCompraItemContador</b>)
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private int carrinhoCompraItemContador = 0;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged += CarrinhoCompraChanged;
    }
    protected void CarrinhoCompraChanged(int totalQuantidade)
    {
        carrinhoCompraItemContador = totalQuantidade;
        StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        carrinhoCompraService.OnCarrinhoCompraChanged -= CarrinhoCompraChanged;
    }
}
