<div class="sidebar-menu">
    @if (MensagemErro != null)
    {
        <ExibirErro MensagemErro="@MensagemErro" />
    }
    else
    {
        <div class="nav-item">
            <NavLink class="nav-link" href="/produtos" Match="NavLinkMatch.All">
                Tudo
            </NavLink>
        </div>

        if (CategoriasDto != null)
        {
            @foreach (var categoria in CategoriasDto)
            {
                var link = "/ProdutosPorCategoria/" + categoria.Id;

                <div class="nav-item">
                    <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
                        @categoria.Nome
                    </NavLink>
                </div>
            }
        }
    }
</div>

@code {
    [Inject]
    public IProdutoService? ProdutoService { get; set; }

    public IEnumerable<CategoriaDto>? CategoriasDto { get; set; }

    public string? MensagemErro { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            CategoriasDto = await ProdutoService!.GetCategorias();
        }
        catch (Exception ex)
        {
            MensagemErro = ex.Message;
        }
    }
}
