@page "/"

<PageTitle>Sport Store</PageTitle>

<div class="hero-section">
    <h1>Bem-vindo à Sport Store</h1>
    <p>Encontre as melhores roupas esportivas para o seu estilo de vida ativo.</p>
    <a href="/produtos" class="btn-shop-now">Compre Agora</a>
</div>
